<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JitsiMeetOutlook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JitsiMeetOutlook.Properties.Settings>
            <setting name="Domain" serializeAs="String">
                <value>meet.jit.si</value>
            </setting>
            <setting name="requireDisplayName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startWithAudioMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startWithVideoMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="roomID" serializeAs="String">
                <value />
            </setting>
            <setting name="installDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="language" serializeAs="String">
                <value>sv</value>
            </setting>
            <setting name="randomRoomIdGeneratorMode" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="conferenceMapperEndpoint" serializeAs="String">
                <value>https://api.jitsi.net/conferenceMapper</value>
            </setting>
            <setting name="phoneNumberListEndpoint" serializeAs="String">
                <value>https://api.jitsi.net/phoneNumberList</value>
            </setting>
            <setting name="conferenceSchedulerEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="conferenceSchedulerEndpointSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="disableCustomRoomId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablePhoneNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="supportUrl" serializeAs="String">
                <value>https://www.google.se/</value>
            </setting>
            <setting name="toolBarOptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Microphone</string>
                        <string>Camera</string>
                        <string>Screenshare</string>
                        <string>Chat</string>
                        <string>Raise Hand</string>
                        <string>Participants Pane</string>
                        <string>Toggle Tile View</string>
                        <string>Toggle Camera</string>
                        <string>Leave Meeting</string>
                        <string>Profile</string>
                        <string>Invite people</string>
                        <string>Performance settings</string>
                        <string>View Full Screen</string>
                        <string>Security Options</string>
                        <string>Closed Caption</string>
                        <string>Recording</string>
                        <string>Highlight Moments (when Recording)</string>
                        <string>Live Streaming</string>
                        <string>Share Video</string>
                        <string>Share Audio</string>
                        <string>Toggle Noise Suppression</string>
                        <string>Etherpad</string>
                        <string>Select Background</string>
                        <string>Undock IFrame</string>
                        <string>Dock IFrame</string>
                        <string>Settings</string>
                        <string>Speaker Stats</string>
                        <string>View Shortcuts</string>
                        <string>Embed Meeting</string>
                        <string>Leave Feedback</string>
                        <string>Download App</string>
                        <string>Help</string>
                        <string>Filmstrip</string>
                    </ArrayOfString>
                </value>
            </setting>
        </JitsiMeetOutlook.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
